header {
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    align-items: center;
    justify-content: space-between;
  }
  
  header .nav .logo {
    justify-content: space-between;
  display: flex;
    height: 100%;
    padding-top: 15px;
  }
  
  header .logo {
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    padding-left: 30px;
  }
  
  header .nav .logo img {
    width: 10.5rem;
    object-fit: cover;
  }
  
  header .nav li {
    list-style: none;
  }
  
  header .nav li button {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 5px;
    font-family: inherit;
  }
  
  header .nav li button:hover{
    color: #0f866c;
  }
  
  header .nav li button a {
    text-decoration: none;
    color: #001d2f;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.0rem;
    padding-left: 0.5rem;
  }
  header .nav li button a:hover{
    color: #0f866c;
  }
  header .nav li button i {
    padding-top: 10px;
  }
  
  
  .main-content {
    overflow: hidden;
  }
  
  .main-content .container {
    display: grid;
    /* W(adjusted) = W(individual) - (1rem * 1/2) */
    grid-template-columns: calc(50% - (30px * 1/2)) calc(50% - (30px * 1/2));
    grid-column-gap: 30px;
    background-color: #F9F8F2;
  }
  
  .main-content .container .col-content {
    align-self: center;
    padding: 30px;
    width: 700px;
    height: 80%;
    padding-left: 35px;
    padding-right: 1.5rem;
    text-align: left;
  
  }
  
  .main-content .container .col-content .heading {
    padding: 0 !important;
    fill: #001d2f;
    border-color: #001d2f;
    color: #001d2f;
  }
  
  .main-content .container .col-content .heading h1 {
    display: block;
    font: inherit;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 5.0rem;
    line-height: 1;
    margin-bottom: 2rem;
    border: 0;
  }
  
  .main-content .container .col-p {
  }
  
  .main-content .container .col-p p {
    font-weight: 600;
    fill: #001d2f;
    border-color: #001d2f;
    color: #001d2f;
    padding-bottom: 20px;
  }
  .main-content .container .col-content button {
    background-color: #0f866c;
    color: #fff;
    cursor: pointer;
    height: 55px;
    width: 300px;
    border: 0.2rem solid #0f866c;
    border-radius: 5rem;
    font-weight: 1000;
    font-size:15px ;
  }
  .main-content .container .col-content button:hover{
    background-color: #D4E300;
    color: #001d2f;
    border: 0.2rem solid #D4E300;
  }
  .main-content .container .col-content button a p {
    text-align: center;
  
  }
  
  .main-content .col-media {
    margin-top: 2rem;
    padding: 30px;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    flex: 0 0 50%;
    max-width: 100%;
    padding-left: 6rem;
    display: block;
  }
  
  .main-content .col-media img {
    width: 100%;
    object-fit: cover;
    padding-top: 100px;
  }
  .col-content .col-footnote p{
    width: 344px;
    text-align: center;
    font-weight: 400;
      letter-spacing: .14rem;
      line-height: 2;
      text-transform: uppercase;
      font-size: 0.8rem;
      padding-bottom: 20px;
  }
  .section {
    padding: 80px;
   }
   .section .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .section .two-col-content {
    margin: 0 auto;
    width: 100%;
  }


  .section .two-col-content .column-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: justify;  
  }
  .section .two-col-content .column-content h3{
    line-height: 1.75;
    font-size: 2rem;
  }
 
  .section .two-col-content  .img-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;
  
  }
  .section .two-col-content .img-wrapper .img {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  /* left-content */
/* left-content */
.left-content{
  display: flex;
 padding: 80px;
}
.left-content .column-img{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 50%;
}
.left-content .column-img img{
  width: 68%;
  padding-left: 110px;
}
.left-content .column-content {
  text-align: justify;  
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.left-content .column-content h3{
  line-height: 1.75;
  font-size: 2rem; 
}
.left-content .column-content p{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 1.2rem;

}
.left-content .column-content a{
  color: #0f866c;
}
.left-content .column-content a:hover {
  color: #D4E300;
}
.right-content {
  display: flex;
  padding: 80px;
}
.right-content .column-img{
  width: 50%;
  padding-right: 1.5rem;
}
.right-content .column-img img {
  width: 68%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.right-content .column-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: justify;
}
.right-content .column-content h3{
  font-size: 2rem; 
  line-height: 1.75;
}
.right-content .column-content p{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 1.2rem;

}
.sub-btn button{
background-color:#0f866c ;
color: #fff;
margin-bottom: 2rem;
  margin-right: 3rem;
  transition: .2s;
  width: auto;
  border: 0.2rem solid;
  border-radius: 5rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1;
  padding: 1.6rem 3.5rem;
  cursor: pointer;
}
.sub-btn button:hover {
  background-color: #D4E300;
  color: #001d2f;
    border: 0.2rem solid #D4E300;
  
}
.sub-btn button B {
  font-size: 1.2rem;
}
.footer-main {
  background-color: #001d2f;
  padding-top: 10px;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  bottom: auto;
  height: 100px;
}

.footer-main p {
  font-size: 0.8rem;
  color: #ccd2d5;
  padding-left: 1.5rem;
  padding-right: 1.2rem;
}

.footer-main .footer-main-links {
  padding-right: 400px;
  text-align: center;
}

.footer-main .footer-main-links a {
  text-decoration: none;
  padding-left: 1px;
  display: inline-block;
  margin-bottom: 0;
  margin-inline-start: 1.5rem;
  width: auto;
  font-size: 0.8rem;
  background: 0 0;
  color: #ccd2d5;
  line-height: 1.8;

}
.footer-main .footer-main-links a:hover {
  color: #D4E300;
}

.footer-main .footer-main-social {
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.4rem;
  width: auto;
}

.footer-main .footer-main-social a {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.5;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 8px;
}
.footer-main .footer-main-social a:hover{
  color: #D4E300;
}

.footer-main .footer-main-social a i {
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
  @media (max-width: 767px) { /* Điện thoại di động */
    .main-content .container {
      grid-template-columns: 1fr;
    }
  
    .main-content .container .col-content {
      width: 100%;
      padding: 20px;
    

    }
    .main-content .container .col-content .heading{
      align-items: center;
      padding-right: 10px;
    }
    .main-content .container .col-content .heading h1 {
      align-items: center;
    font-size: 3rem;
    }
  
    .main-content .container .col-content h1 {
      font-size: 3.5rem;
    }
  
    .main-content .container .col-content button {
      height: 50px;

      width: 95%;

    }
  
    .main-content .container .col-media {
      display: none;
    }
    .main-content .col-media img {
        width: 100%;
        object-fit: cover;
        margin-top: 20px;
      }
    .left-content {
        flex-direction: column;
        padding: 40px;
    }
    
    .left-content .column-img {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    .left-content .column-img img {
        width: 80%;
        padding-left: 0;
    }
    
    .left-content .column-content {
        padding: 0;
        text-align: center;
    }
    .right-content {
        flex-direction: column;
        padding: 40px;
    }
    
    .right-content .column-img {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    .right-content .column-img img {
        width: 80%;
        padding-left: 0;
    }
    
    .right-content .column-content {
        padding: 0;
        text-align: center;
    }

}

@media (max-width: 1024px) { /* iPad */
    .left-content {
        padding: 60px;
    }
    .right-content {
        padding: 60px;
    }
}

@media screen and (max-width: 600px) {
  .footer-main {
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
  }

  .footer-main .footer-main-links {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }

  .footer-main .footer-main-social {
    padding-left: 0;
    justify-content: center;
  }

  .footer-main p {
    padding: 0 1.5rem;
  }
}
