/* Reset browser */
* {
  padding: 0;
  margin: 0;
}
body {
  height: auto
}
header {
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  display: block;
}

header .nav .logo {
  justify-content: space-between;
display: flex;
  height: 100%;
  padding-top: 15px;
}

header .logo {
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  padding-left: 30px;
}

header .nav .logo img {
  width: 10.5rem;
  object-fit: cover;
}

header .nav li {
  list-style: none;
}

header .nav li button {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 5px;
  font-family: inherit;
}

header .nav li button:hover{
  color: #0f866c;
}

header .nav li button a {
  text-decoration: none;
  color: #001d2f;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.0rem;
  padding-left: 0.5rem;
}
header .nav li button a:hover{
  color: #0f866c;
}
header .nav li button i {
  padding-top: 10px;
}


.main-content {
  overflow: hidden;
}

.main-content .container {
  display: grid;
  /* W(adjusted) = W(individual) - (1rem * 1/2) */
  grid-template-columns: calc(50% - (30px * 1/2)) calc(50% - (30px * 1/2));
  grid-column-gap: 30px;
  background-color: #F9F8F2;
}

.main-content .container .col-content {
  align-self: center;
  padding: 30px;
  width: 700px;
  height: 80%;
  padding-left: 35px;
  padding-right: 1.5rem;
  text-align: left;

}

.main-content .container .col-content .heading {
  padding: 0 !important;
  fill: #001d2f;
  border-color: #001d2f;
  color: #001d2f;
}

.main-content .container .col-content .heading h1 {
  display: block;
  font: inherit;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 6.0rem;
  line-height: 1;
  margin-bottom: 2rem;
  border: 0;
}

.main-content .container .col-p {
}

.main-content .container .col-p p {
  font-weight: 600;
  fill: #001d2f;
  border-color: #001d2f;
  color: #001d2f;
  padding-bottom: 20px;
}
.main-content .container .col-content button {
  background-color: #0f866c;
  color: #fff;
  cursor: pointer;
  height: 55px;
  width: 300px;
  border: 0.2rem solid #0f866c;
  border-radius: 5rem;
  font-weight: 1000;
  font-size:15px ;
}
.main-content .container .col-content button:hover{
  background-color: #D4E300;
  color: #001d2f;
  border: 0.2rem solid #D4E300;
}
.main-content .container .col-content button a p {
  text-align: center;

}

.main-content .col-media {
  margin-top: 2rem;
  padding: 30px;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 1.5rem;
  display: block;
}

.main-content .col-media img {
  width: 50rem;
  object-fit: cover;
  padding-top: 100px;
}

.col-content .col-footnote p{
  width: 300px;
  text-align: center;
  font-weight: 400;
    letter-spacing: .14rem;
    line-height: 2;
    text-transform: uppercase;
    font-size: 0.62rem;
}
/* Block-group */
/* Section */
.section {
 padding: 80px;
}
.section .heading-block {
align-items: center;
}
.section .heading-block  .row{
text-align: center;
}
.section .heading-block .row h2 {
  font-feature-settings: "liga";
  font-weight: 550;
  font-family: FS Kim,Georgia,serif;
  font-size: 2.5rem;
    line-height: 1.09;
}
.section .two-col-content {
  display: block;
  background-color: inherit;
    padding-top: 0;
  text-align: center;
}
.section .two-col-content .row {
  display: flex;  
}
.section .two-col-content .column-img {
  width: 100%;
  padding-right: 1.5rem;
}
.section .two-col-content .column-img img{
  width: 75%;
}
.section .two-col-content .column-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: justify;  
}
.section .two-col-content .column-content h3{
  line-height: 1.75;
  font-size: 2rem;
}
.section .two-col-content .column-content p{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 1.2rem;
}
.section .two-col-content .column-content a{
  color: #0f866c;
  text-align: center;
  justify-content: center;

}
.section .two-col-content .column-content a:hover{
color: #D4E300;
  
}

.section .two-col-content .column-content  a:hover::before {
  width: 100%;
  transition: width 0.5s ease;
}

.section .two-col-content .column-content a button:hover{
  color: #001d2f;
  border: 0.2rem solid #D4E300;
}
.section .two-col-content .column-content a i {
  color: #001d2f;
  background-color: #E9EAEB;
  border-radius: 10%;
  width: 80%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: -10px;
}
.section .two-col-content .column-content .sub-text p {
  padding-bottom: 20px;
}
.section .two-col-content  .img-wrapper{
  display: grid;
  grid-template-columns: repeat(6, 50px);
  margin-bottom: 20px;

}
.column-content .sub-btn {
  padding-top: 30px; 
}
.column-content .sub-btn button{
  background-color:#0f866c ;
  color: #fff;
  margin-bottom: 2rem;
    margin-right: 3rem;
    transition: .2s;
    width: auto;
    border: 0.2rem solid;
    border-radius: 5rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1;
    padding: 1.6rem 3.5rem;
    cursor: pointer;
}
.column-content .sub-btn button:hover {
  background-color: #D4E300;
  color: #001d2f;
    border: 0.2rem solid #D4E300;
  
}

.column-content .sub-btn button B {
  font-size: 1.2rem;
}

.section .column-img, .column-content {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}
/* left-content */
.left-content{
  display: flex;
 padding: 80px;
}
.left-content .column-img{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 50%;
}
.left-content .column-img img{
  width: 68%;
  padding-left: 110px;
}
.left-content .column-content {
  text-align: justify;  
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.left-content .column-content h3{
  line-height: 1.75;
  font-size: 2rem; 
}
.left-content .column-content p{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 1.2rem;

}
.left-content .column-content a{
  color: #0f866c;
}
.left-content .column-content a:hover {
  color: #D4E300;
}
.right-content {
  display: flex;
  padding: 80px;
}
.right-content .column-img{
  width: 50%;
  padding-right: 1.5rem;
}
.right-content .column-img img {
  width: 68%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.right-content .column-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: justify;
}
.right-content .column-content h3{
  font-size: 2rem; 
  line-height: 1.75;
}
.right-content .column-content p{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 1.2rem;

}
/* Reviews*/
.reviews {
  background-color: #F9F8F2;
  padding: 20px;
  
}
.reviews .section {
    
    text-align: center;
    }
.reviews .section .row {
  max-width: 100%;
  padding-left: 10rem;
    padding-right: 10rem;  
}
.reviews .section .row h2 {
    font-feature-settings: "liga";
    font-weight: 550;
    font-family: FS Kim,Georgia,serif;
    font-size: 2.5rem;
      line-height: 1.09;
      margin-bottom: 4rem;
  }
  

.tab-wrapper{

}
.tab-wrapper .tab-list {
  display: block;
  margin: 0 auto 4rem;
  overflow: auto;
  text-align: center;
  white-space: nowrap;
  border-bottom: 2px solid #ddd;
}
.tab-wrapper .tab-list ul {
  list-style: none;
}
.tab-wrapper .tab-list li {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
.tab-wrapper .tab-list li .active {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #414141;
  position: absolute;
  bottom: 0;
  left: 0;
}
.tab-wrapper .tab-list li button{
  background-color: #F9F8F2;
  border: none;
  color: #001d2f;
  text-decoration: none;
  margin-bottom: 0;
  padding: 0 1.5rem;
  display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    height: 4.5rem;
    letter-spacing: .12rem;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    font: inherit;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

#tweets,
#mediaQuotes {
  display: none;
}

.reviews .container-has-overflow {
  padding-right: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 89%;
}

.reviews .container-has-overflow .tab-content {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.reviews .container-has-overflow .tab-content .tab-pane {
  display: block;
  width: 100%;
}

.tab-content .tab-pane .cards{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    min-height: 29rem;
    touch-action: pan-y;
}
.tab-content .tab-pane .cards .cards-col-reviews {
  opacity: 1;
    width: calc(33.3333%);
    flex-direction: column  ;
    margin-left: 0;
    padding: 0 5rem;
}
.tab-content .tab-pane .cards .cards-col-reviews .home-card{
  color: #001d2f;
    height: 120%;
    width: 120%;
}
.home-card .text-center{
  text-align: center;
}
.home-card .text-center .rating{
  line-height: 1.8;
  width: 60%;
  padding-bottom: 30px;
}
.home-card .text-center .rating img {
  width: 68%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.home-card .text-center .rating p {
  font-size: smaller;
}
.home-card .home-card-text{
  font: inherit;
  margin-bottom: 2rem;
  font-family: FS Kim,Georgia,serif;
    font-size: 1rem;
    font-weight: 550;
    line-height: 1.8rem;
    width: 80%;
    padding-left: 10px;
    font-size: larger;
}
.home-card-footer  .home-card-handle {
  color: #001d2f;
  text-transform: none;
  font-size: 0.8rem;
    letter-spacing: .12rem;
    line-height: 1.67;
    margin-bottom: 1rem;
    font-weight: 900;
    padding-left: 8px;
  
}
.container-has-overflow .one-col-logos {
  list-style: none;
  margin-left: 0;
  max-width: 100%;
  text-align: center;
}
.container-has-overflow .one-col-logos  li{
  margin: auto 1rem 3rem;
  width: 17rem;
  display: inline-block;
  vertical-align: middle;
}

.container-has-overflow .one-col-logos  li img{
  margin-bottom: 0;
  max-width: 80%;
  height: auto;
  font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.cards-col-tweets .home-card-text  p{
  font-weight: 100;
}
.cards-col-tweets .home-card-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.cards-col-tweets {
  padding-bottom: 5.2rem;
  color: #001d2f;
    height: 100%;
    max-width: 18rem;
    padding: 3rem 4rem;
    position: relative;
}

.cards-col-tweets .home-card-avatar img{
  object-fit: fill;
  width: 95%;
}
.cards-col-media-quotes {
  opacity: 1;
    width: calc(33.3333%);
    flex: auto;
    margin-left: 0;

}

/*Contact home*/
.contact-home {
  background-color: #fff;
  padding-bottom: 10rem;
  padding-top: 10rem;
}
.contact-home .container {
  max-width: 50rem;
  padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    margin-left: auto;
    margin-right: auto;
}
.contact-home .container .row {
    display: flex;
  
}
.contact-home .container .row .column {
  flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    width: 100%;
    padding-right: 30px
}
#column-two{
  border-left: 0.1rem solid #ccd2d5;padding-left: 30px;
}
.contact-home .container .row .column .grid-item {
  display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    max-width: 30rem;
}
.contact-home .container .row .column .grid-item img{
  
}
.contact-home .container .row .column .grid-item h3 {
  margin-bottom: 2rem;
  font-feature-settings: "liga";
    font-family: FS Kim,Georgia,serif;
    font-size: 1.6rem;
    font-weight: 560;
    line-height: 1.25;
    color: #001d2f;

}
.contact-home .container .row .column .grid-item p {
  margin-bottom: 4rem;
  font-size: 1.6rem;
    line-height: 1.75;
}
.contact-home .container .row .column .button-group{
  margin: 0;
  transition: .2s;
    width: 27%;
    border: 0.2rem solid #0f866c;
    border-radius: 5rem;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 1.6rem 3.5rem;
    background-color: #0f866c;
    text-align: center;
    cursor: pointer;
}
.contact-home .container .row .column .button-group a {
  color: #fff;
  text-decoration: none;
}
.contact-home .container .row .column .button-group:hover{
  background-color: #D4E300;
  border: 0.2rem solid #D4E300;
}
.contact-home .container .row .column .button-group a:hover{
  color: #001d2f;
}

/* Footer./Start */
.footer-main {
  background-color: #001d2f;
  padding-top: 10px;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  bottom: auto;
  height: 100px;
}

.footer-main p {
  font-size: 0.8rem;
  color: #ccd2d5;
  padding-left: 1.5rem;
  padding-right: 1.2rem;
}

.footer-main .footer-main-links {
  padding-right: 400px;
  text-align: center;
}

.footer-main .footer-main-links a {
  text-decoration: none;
  padding-left: 1px;
  display: inline-block;
  margin-bottom: 0;
  margin-inline-start: 1.5rem;
  width: auto;
  font-size: 0.8rem;
  background: 0 0;
  color: #ccd2d5;
  line-height: 1.8;

}
.footer-main .footer-main-links a:hover {
  color: #D4E300;
}

.footer-main .footer-main-social {
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.4rem;
  width: auto;
}

.footer-main .footer-main-social a {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.5;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 8px;
}
.footer-main .footer-main-social a:hover{
  color: #D4E300;
}

.footer-main .footer-main-social a i {
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}